/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  	vertical-align: baseline;
  }
#container{
    width: 720px;
    margin: auto; 
    border: 1px solid green;
    overflow: auto;
   

}
#content{
	
    width: 670px;
    margin-bottom: 10px;
    background-color: #EADADA;ljusljus latte*/
 	margin-left: 10px;
 	overflow: auto;   
}
#maincontent{
	width:370px ;
	float:left;
	font-size: 12px;
	line-height: 16px;
	font-family: Verdana, sans-serif;
	 background-color: #EADADA; /*ljusljus latte*/
	 color: #5C4D4D;
	 padding: 10px;
	
}
#maincontent h1{
		font-family: Times New Roman, serif;
		font-size: 36px;
		line-height: 44px;
	}
#maincontent img{
	float: left;
	margin-right:  10px;
}
#subcontent{
	width:200px;
	float:left;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	line-height: 14px;
	 background-color: #EADADA; /*ljusljus latte*/
	 border-left: 1px dotted  #5C4D4D;
	 color: #5C4D4D;
	 padding: 10px;
	}

#subcontent h1{
	font-family: Times New Roman, serif;
	font-size: 16px;
	line-height: 40px;
}
#subcontent h2{
	font-family: Times New Roman, serif;
	font-size: 16px;
	line-height: 24px;
}
#subcontent a{
	color: #5C4D4D;
	font-size: 12px;
}
#subcontent li{
	list-style: none;
}
#topbar{
    width: 670px; height: 300px;
  	float:left;
  	text-align: right;
  	background-color: red;
  	color: #FFF;
    font-size: 10px;
    background-image: url("css/pics/coffey.jpg");
    /*background-position: top-left;
	background-repeat: no-repeat;*/
}

#menu a{
		visibility: hidden;
	}

#menu ul {
		margin-top : 10px;
	}
	#menu li {
		list-style: none;
		display: inline;
		float:left;
		margin-bottom: 9px;
	}
	#menu li a {
		/*line-height: 40px;*/
		text-align: center;
		background-color: #5C4D4D;
		color:#FFF; 
		text-decoration: none;
		border-left: 1px solid #491212;
		padding: 10px;
		visibility: visible;

	}
	li a .active{
		background-color: #EADADA; /*ljusljus latte*/
		color: #5C4D4D;
	}
	#menu li a:hover{
	  background-color:#8B7979;
	}
	#bottomcontent{
		width:590px;
		font-family: Verdana, sans-serif;
		font-size: 10px;
		font-style: italic;
		float:left;
		clear: left;
		background-color: #EADADA; /*ljusljus latte*/
		color: #5C4D4D;
		padding: 10px;
	}
	
	

	
	/*slut meny*/	